@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Add a Machine</h2>
<hr />
@if (ViewBag.Duplicate)
{
  <h4 class="warning">Machine already exists in the database.</h4>
}

@using (Html.BeginForm())
{
  <div class="mb-3">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { required = "required" })
  </div>

  <div class="mb-3">
    @Html.LabelFor(model => model.ModelNumber)
    @Html.TextBoxFor(model => model.ModelNumber, new { required = "required" })
  </div>

  <input type="submit" value="Add Machine" />
}

<hr />
<p>@Html.ActionLink("Back to Machine List", "Index")</p>
<p>@Html.ActionLink("Go Back Home", "Index", "Home")</p>
