@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>@Model.Name Details</h2>
<h4>Model #: @Model.ModelNumber</h4>

@if (ViewBag.Edited)
{
  <hr />
  <h4 class="success">Successfully Edited</h4>
}

<hr />
<p>@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.MachineId })</p>
<p>@Html.ActionLink($"Delete {Model.Name}", "Delete", new { id = Model.MachineId })</p>
<p>@Html.ActionLink("Back to Machine List", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>