@{
  Layout = "_Layout";
}
@using Factory.Models
@model Factory.Models.Engineer

<h2>Engineer <strong>@Model.Name</strong></h2>

@if (ViewBag.Edited)
{
  <hr />
  <h4 class="success">Successfully Edited</h4>
}
@if (ViewBag.AddedMachine != null)
{
  <hr />
  <h4 class="success">License to repair @ViewBag.AddedMachine added.</h4>
}

<hr />
@if (Model.JoinEntities.Count == 0)
{
  <h4>@Model.Name currently has no repair licenses.</h4>
}
else
{
  <h4>@Model.Name has the license to repair...</h4>
  <ul>
    @foreach (RepairLicense rL in Model.JoinEntities)
    {
      <div>
        <li>
          @Html.ActionLink(
      $"{rL.Machine.Name} : {rL.Machine.ModelNumber}",
      "Details", "Machines",
      new { id = rL.MachineId })
        </li>
        @using (Html.BeginForm("DeleteRepairLicense", "Engineers", FormMethod.Post, new { @class = "delete-form" }))
        {
          @Html.Hidden("RepairLicenseId", rL.RepairLicenseId)
          @Html.Hidden("FromEngineers", true)
          <input class="delete-btn" type="submit" value="Remove Repair License" />
        }
      </div>
    }
  </ul>
}

<hr />
<h4>Add Repair License</h4>
@using (Html.BeginForm())
{
  @Html.Hidden("EngineerId", Model.EngineerId)
  <div class="mb-3">
    @Html.Label("Machine")
    @Html.DropDownList("MachineId", ViewBag.MachineId, null, new { required = "required" })
  </div>
  <input type="submit" value="Add Machine">
}

<hr />
<p>@Html.ActionLink($"Edit {Model.Name}", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink($"Delete {Model.Name}", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to Engineer List", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>